.alert {
	text-align: $direction-start;
	border-radius: 10px;
	opacity: 0.9;
	// -moz-box-shadow: 0 1px 1px #fff inset;
	// -webkit-box-shadow: 0 1px 1px #fff inset;
	// box-shadow: 0 1px 1px #fff inset;

	a {
		text-decoration: underline;
	}

	h1 {
		border-bottom: 2px solid;
	}
}

.alert-primary {
	color: $Color-White;
	background: $Color-Body;
	border-color: #3a6c7e;

	h1 {
		border-color: #ffb10a;
	}
}

.alert-success {
	// color: #000;
	// background: #8dde92;
	// border-color: #a2d246;
	color: $Color-Text-Main;
	background: #1b6860;
	border: none;

	h1 {
		border-color: #0f0;
	}
}

.alert-info {
	// color: #000;
	// background: #8dde92;
	// border-color: #a2d246;
	color: $Color-Text-Main;
	background: #806628;
	border: none;

	h1 {
		border-color: #0f0;
	}
}

.alert-danger {
	color: #000;
	background: #5a122e;
	border-color: #333;

	h1 {
		border-color: #f00;
	}
}

.result_query .alert {
	margin-bottom: 0;
	border-bottom: none !important;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	// padding-bottom: 5px;
}
